# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Model Files
*.pt
softskills_model/
*.model
*.json

# Jupyter
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# OneDrive sync files
*.lnk
desktop.ini
*ipynb_checkpoints
*ipynb 